---
import Card from "../../components/blog/Card.astro";
import TagList from "../../components/blog/TagList.astro";
import TwoColLayout from "../../layouts/TwoColLayout.astro";

const allPosts = await Astro.glob("../../pages/blog/**/*.mdx");
const nonDraftPosts = allPosts.filter((post) => !post.frontmatter.draft);
nonDraftPosts.sort(
  (a, b) =>
    Date.parse(b.frontmatter.createAt) - Date.parse(a.frontmatter.createAt)
);
const tags = nonDraftPosts.map((post) => post.frontmatter.tags);
const uniqueTags = [...new Set(tags.flat())];
---

<TwoColLayout
  title="ブログ記事一覧"
  description="年齢のせいかすぐ忘れてしまうので、学んだことを備忘録的に書いてます。"
>
  <div slot="header" class="header">
    <h1 class="title-XXXL mb-M">Blog</h1>
    <p>年齢のせいかすぐ忘れてしまうので、学んだことを備忘録的に書いてます。</p>
  </div>
  <div slot="content">
    {
      nonDraftPosts.map((post: any) => (
        <Card post={post.frontmatter} url={post.url} />
      ))
    }
  </div>
  <div slot="nav" class="nav">
    <div class="tags">
      <TagList tags={uniqueTags} type="blog" />
    </div>
  </div>
</TwoColLayout>
<style lang="scss">
  .header {
    text-align: center;
  }
  .nav {
    height: 100%;
  }
  .tags {
    position: sticky;
    top: var(--spacing-XXXL);
  }
</style>
