@use "src/styles/variables.scss" as *;

.mb-S {
  margin-bottom: $spacing-S !important;
}

.mb-M {
  margin-bottom: $spacing-M !important;
}

.mb-L {
  margin-bottom: $spacing-L !important;
}

.mb-XL {
  margin-bottom: $spacing-XL !important ;
}

.mt-XXXL {
  margin-top: $spacing-XXXL !important;
}

.title-main {
  font-family: $font-family-oswald;
  margin-bottom: $spacing-XL;
  font-size: $font-size-title;
  font-weight: 700;
  line-height: 1.2;
  @media screen and (max-width: $breakpoint-S) {
    font-size: var(--font-size-XXXL);
  }
}

.title-XXXL {
  margin-bottom: $spacing-XL;
  font-size: $font-size-XXXL;
  font-weight: 700;
  line-height: 1.6;
}

.title-XL {
  margin-bottom: $spacing-L;
  font-size: $font-size-XL;
  font-weight: 700;
  line-height: 1.2;
}

.title-L {
  margin-bottom: $spacing-M;
  font-size: $font-size-L;
  font-weight: 700;
  line-height: 1.2;
}

.title-M {
  margin-bottom: $spacing-S;
  font-size: $font-size-M;
  font-weight: 700;
  line-height: 1.2;
}

.text-S {
  font-size: var(--font-size-S);
}

.text-note {
  color: var(--color-gray-02);
}

.text-center {
  text-align: center;
}

.button-base {
  border-radius: 40px;
  padding: $spacing-L $spacing-XL;
  font-weight: bold;
  background-color: var(--color-background);
  min-width: 200px;
}

.button-01 {
  @extend .button-base;
  box-shadow: var(--shadow-01);
  color: var(--color-primary);
}

.icon-M {
  width: var(--icon-size-M);
  height: var(--icon-size-M);
}

.icon-L {
  width: var(--icon-size-L);
  height: var(--icon-size-L);
}
