@use "src/styles/variables.scss" as *;
@use "src/styles/common.scss" as *;

.detail-page {
  .header {
    margin-bottom: $spacing-XXL;
  }
  .title {
    text-align: center;
    h1 {
      margin-bottom: 0;
      @media screen and (max-width: $breakpoint-S) {
        font-size: var(--font-size-XL);
      }
    }
    .createAt {
      color: var(--color-gray-03);
      margin-bottom: var(--spacing-M);
    }
    .tags {
      .tag {
        font-size: var(--font-size-S);
        color: var(--color-gray-02);
        display: inline-block;
        padding: var(--spacing-S) var(--spacing-M);
        border-radius: 20px;
        border: 1px solid var(--color-gray-02);
        margin-right: var(--spacing-S);
        line-height: 1;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .content {
    box-shadow: var(--shadow-03);
    padding: var(--spacing-XL);
    border-radius: var(--radius-M);
    box-sizing: border-box;
    background: rgba(#f1f1f1, 0.9);
    @media screen and (max-width: $breakpoint-S) {
      padding: var(--spacing-L);
    }

    ul {
      list-style: disc;
      margin-left: 1rem;
    }

    .link {
      color: var(--color-primary);
      text-decoration: underline;
      text-align: right;
    }
  }

  .content pre {
    padding: 20px;
    display: block;
    max-width: 700px;
    overflow-x: scroll !important;
    box-sizing: border-box;
    border-radius: var(--radius-M);
    margin-bottom: var(--spacing-XL);
  }

  .content a {
    color: var(--color-primary);
    text-decoration: underline;
  }

  .content p {
    margin-top: var(--spacing-L);
    margin-bottom: var(--spacing-L);
  }

  .content h1 {
    @extend .title-XXL;
    line-height: 2em;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, var(--color-gray-02), var(--color-background)) 1;
    ::after {
      content: "";
    }
    &:not(:first-child) {
      margin-top: var(--spacing-XXL);
    }
  }

  .content h2 {
    @extend .title-L;
    margin: var(--spacing-XL) 0 var(--spacing-M) 0;
  }

  .content h3 {
    @extend .title-M;
    margin: var(--spacing-L) 0 var(--spacing-S) 0;
  }

  // .content img {
  //   border: 1px solid var(--color-gray-04);
  // }

  .content .multi-column-2 {
    margin-top: var(--spacing-XL);
    margin-bottom: var(--spacing-XL);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--spacing-M);
    row-gap: var(--spacing-M);
    @media screen and (max-width: $breakpoint-M) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: $breakpoint-S) {
      grid-template-columns: 1fr;
    }
  }

  .content .multi-column-3 {
    margin-top: var(--spacing-XL);
    margin-bottom: var(--spacing-XL);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--spacing-L);
    row-gap: var(--spacing-L);
    @media screen and (max-width: $breakpoint-M) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: $breakpoint-S) {
      grid-template-columns: 1fr;
    }
  }

  .content table {
    width: 100%;
    th {
      border: 1px solid var(--color-gray-04);
      padding: var(--spacing-S);
      background: var(--color-gray-05);
      font-weight: bold;
      text-align: center;
    }
    td {
      border: 1px solid var(--color-gray-04);
      padding: var(--spacing-S);
    }
  }
}
