---
import CommonImage from "@/components/CommonImage.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Satofactoin.net | Fumihiko Sato Portfolio"
  description="このサイトは、特にやりたいこともなく無気力に生きる汚い中年おじさんデザイナー佐藤文彦のポートフォリオサイトです。応援よろしくお願いします。"
  useMaxWidth={false}
>
  <section>
    <p>すみません、このページは存在しません。</p>
  </section>
</Layout>

<style lang="scss" scoped>
  section {
    padding: 20px;
    text-align: center;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
  }
</style>
