---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <a href="/">ホーム</a>
  <a href="/about/">概要</a>

  <h1>私について</h1>
  <h2>... そして私の新しいAstroサイトについて！</h2>
</Layout>
