---
import CommonImage from "../components/CommonImage.astro";
import Layout from "../layouts/Layout.astro";
import Slider from "../components/home/Slider";
import main from "@/assets/images/main/main.png";
import aboutMe from "@/assets/images/main/aboutMe.png";

const allPosts = await Astro.glob("./blog/**/*.mdx");
const images = allPosts.map((post) => post.frontmatter.thumbnail);
---

<Layout
  title="Satofactoin.net | Fumihiko Sato Portfolio"
  description="このサイトは、特にやりたいこともなく無気力に生きる汚い中年おじさんデザイナー佐藤文彦のポートフォリオサイトです。応援よろしくお願いします。"
>
  <article class="box-hero">
    <div class="box-hero-title">
      <h2 class="title-main">Hello, I’M<br />Fumihiko Sato</h2>
      <div class="role">Designer / Front-End Developer</div>
    </div>
    <div class="box-hero-img">
      <CommonImage src={main} alt="my image" width={800} format="webp" />
    </div>
  </article>
  <article class="box-2col reverse">
    <div>
      <h2 class="title-main">About Me.</h2>
      <p class="mb-M">
        主にデザインとフロントエンド開発をやっています。<br />
         どちらかと言えばデザイナーが、少しプログラムを書くような感じです。<br
        />
         ただし、デザインも独学なのでツールをなんとか使いこなすレベルなのでデザイナーでもないかもしれません。
      </p>
      <p>
        田舎から「デザイナー」という言葉に憧れて東京に出てきましたが、そんな想いは簡単に打ち砕かれ、若者に
        日々怒られながら過ごす中年の汚いおじさんです。
      </p>
    </div>
    <div>
      <CommonImage src={aboutMe} alt="my image" width={800} format="webp" />
    </div>
  </article>
  <article>
    <h2 class="title-main">My Skills.</h2>
    <div class="skills">
      <div class="slkill">
        <h3 class="title-L">Design</h3>
        <ul class="levels">
          <li class="level6">
            <CommonImage
              src={import("@/assets/images/main/skill-ai.svg")}
              alt="Adobe Illustrator"
              width={30}
            />
          </li>
          <li class="level6">
            <CommonImage
              src={import("@/assets/images/main/skill-ps.svg")}
              alt="Adobe Photoshop"
              width={30}
            />
          </li>
          <li class="level6">
            <CommonImage
              src={import("@/assets/images/main/skill-figma.svg")}
              alt="Figma"
              width={25}
            />
          </li>
          <li class="level3">
            <CommonImage
              src={import("@/assets/images/main/skill-blender.svg")}
              alt="Blender"
              width={35}
            />
          </li>
        </ul>
        <p>
          Web、UIデザイン、グラフィックデザインの経験があります。<br
          />ツールは、Figma、Sketch、XD、illustrator、Photoshop、UXリサーチの経験もありますが豊富ではありません。イラストも頼まれれば描きますがあまり得意ではありません。
          好きなツールはFigmaです。
        </p>
      </div>
      <div class="slkill">
        <h3 class="title-L">Frontend</h3>
        <ul class="levels">
          <li class="level5">
            <CommonImage
              src={import("@/assets/images/main/skill-ts.svg")}
              alt="Typescript"
              width={35}
            />
          </li>
          <li class="level6">
            <CommonImage
              src={import("@/assets/images/main/skill-vue.svg")}
              alt="Vue"
              width={35}
            />
          </li>
          <li class="level4">
            <CommonImage
              src={import("@/assets/images/main/skill-react.svg")}
              alt="React"
              width={35}
            />
          </li>
          <li class="level2">
            <CommonImage
              src={import("@/assets/images/main/skill-astro.svg")}
              alt="Astro.js"
              width={35}
            />
          </li>
        </ul>
        <p>
          HTML、CSS、Javascriptの経験はそこそこあります。最近はVueやNuxtを利用することが多いのでjQueryとかは忘れかけています。wordpressはあまり好きではないです。<br
          />
           Jamstackに興味があります。
        </p>
      </div>
      <div class="slkill">
        <h3 class="title-L">Backend</h3>
        <ul class="levels">
          <li class="level3">
            <CommonImage
              src={import("@/assets/images/main/skill-laravel.svg")}
              alt="Laravel"
              width={35}
            />
          </li>
          <li class="level2">
            <CommonImage
              src={import("@/assets/images/main/skill-nest.svg")}
              alt="nest.js"
              width={35}
            />
          </li>
          <li class="level3">
            <CommonImage
              src={import("@/assets/images/main/skill-docker.svg")}
              alt="Docker"
              width={50}
            />
          </li>
        </ul>
        <p>
          実務での経験値はほとんどないです。
          最近はNode.jsを勉強しています。Laravelも少し経験あります。
          Nest.jsを勉強中です。
        </p>
      </div>
      <div class="slkill">
        <h3 class="title-L">Infrastructure</h3>
        <ul class="levels">
          <li class="level2">
            <CommonImage
              src={import("@/assets/images/main/skill-aws.svg")}
              alt="AWS"
              width={40}
            />
          </li>
          <li class="level2">
            <CommonImage
              src={import("@/assets/images/main/skill-firebase.svg")}
              alt="Firebase"
              width={25}
            />
          </li>
        </ul>
        <p>
          実務での経験値はほとんどないです。
          AWSを勉強中です。S3とCloudFrontを利用したHTTPSでの静的サイトのホスティングくらいならなんとかできます。AWS
          Certified Cloud Practitionerの資格は持っています。
        </p>
      </div>
    </div>
  </article>
  <article>
    <h2 class="title-main text-center">My Portfolio.</h2>
    <p class="text-center mb-XL">
      業務ではなく個人的な趣味で制作したものです。
    </p>
    <!-- <Slider /> -->
  </article>
  <article>
    <h2 class="title-main text-center">My Blog.</h2>
    <p class="text-center mb-XL">
      年齢のせいかすぐ忘れてしまうので、学んだことを備忘録的に書いてます。
    </p>
    <Slider client:only="react" images={images} />
  </article>
</Layout>

<style lang="scss">
  article {
    margin-bottom: $spacing-XXL;
  }
  .box-hero {
    position: relative;
    display: flex;
    .box-hero-title {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);

      .title-main {
        margin-bottom: $spacing-S;
      }
      .role {
        color: $color-primary;
        font-size: $font-size-XL;
        font-weight: 400;
      }
    }

    .box-hero-img {
      margin-left: auto;
      margin-right: $spacing-XL * -1;
    }
  }
  .box-2col {
    display: flex;
    align-items: center;
    &.reverse {
      flex-direction: row-reverse;
    }
    h3 {
      margin-bottom: $spacing-L;
    }
    p {
      font-size: $font-size-M;
      line-height: 2;
    }
    div {
      flex: 1;
    }
  }
  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: $spacing-XL;
    row-gap: $spacing-XL;

    .slkill {
      background: rgba($color-background, 0.8);
      border-radius: $radius-L;
      padding: $spacing-XL;
      box-shadow: $shadow-02;

      h3 {
        font-size: $font-size-XL;
        margin-bottom: $spacing-L;
        text-align: center;
        color: $color-primary;
      }
      p {
        font-size: $font-size-M;
        line-height: 2;
      }
    }
  }
  .levels {
    display: flex;
    justify-content: center;
    margin-bottom: $spacing-L;
    li {
      width: 80px;
      height: 80px;
      border-radius: 100%;
      margin-right: $spacing-S;
      display: flex;
      justify-content: center;
      align-items: center;

      &:last-child {
        margin-right: 0;
      }
      &.level1 {
        background-image: url("src/assets/images/main/level1.png");
      }
      &.level2 {
        background-image: url("src/assets/images/main/level2.png");
      }
      &.level3 {
        background-image: url("src/assets/images/main/level3.png");
      }
      &.level4 {
        background-image: url("src/assets/images/main/level4.png");
      }
      &.level5 {
        background-image: url("src/assets/images/main/level5.png");
      }
      &.level6 {
        background-image: url("src/assets/images/main/level6.png");
      }
      &.level7 {
        background-image: url("src/assets/images/main/level7.png");
      }
      &.level8 {
        background-image: url("ssrc/assets/images/main/level8.png");
      }
    }
  }
</style>
