---
import CommonImage from "@/components/CommonImage.astro";
---

<div class="skills">
  <div class="slkill">
    <h3 class="title-L">Design</h3>
    <ul class="levels">
      <li class="level6">
        <CommonImage
          src={import("@/assets/images/main/skill-ai.svg")}
          alt="Adobe Illustrator"
          width={30}
        />
      </li>
      <li class="level6">
        <CommonImage
          src={import("@/assets/images/main/skill-ps.svg")}
          alt="Adobe Photoshop"
          width={30}
        />
      </li>
      <li class="level6">
        <CommonImage
          src={import("@/assets/images/main/skill-figma.svg")}
          alt="Figma"
          width={25}
        />
      </li>
      <li class="level3">
        <CommonImage
          src={import("@/assets/images/main/skill-blender.svg")}
          alt="Blender"
          width={35}
        />
      </li>
    </ul>
    <p>
      Web、UIデザイン、グラフィックデザインの経験があります。<br
      />ツールは、Figma、Sketch、XD、illustrator、Photoshop、UXリサーチの経験もありますが豊富ではありません。イラストも頼まれれば描きますがあまり得意ではありません。
      好きなツールはFigmaです。
    </p>
  </div>
  <div class="slkill">
    <h3 class="title-L">Frontend</h3>
    <ul class="levels">
      <li class="level5">
        <CommonImage
          src={import("@/assets/images/main/skill-ts.svg")}
          alt="Typescript"
          width={35}
        />
      </li>
      <li class="level6">
        <CommonImage
          src={import("@/assets/images/main/skill-vue.svg")}
          alt="Vue"
          width={35}
        />
      </li>
      <li class="level4">
        <CommonImage
          src={import("@/assets/images/main/skill-react.svg")}
          alt="React"
          width={35}
        />
      </li>
      <li class="level2">
        <CommonImage
          src={import("@/assets/images/main/skill-astro.svg")}
          alt="Astro.js"
          width={35}
        />
      </li>
    </ul>
    <p>
      HTML、CSS、Javascriptの経験はそこそこあります。最近はVueやNuxtを利用することが多いのでjQueryとかは忘れかけています。wordpressはあまり好きではないです。<br
      />
       Jamstackに興味があります。
    </p>
  </div>
  <div class="slkill">
    <h3 class="title-L">Backend</h3>
    <ul class="levels">
      <li class="level3">
        <CommonImage
          src={import("@/assets/images/main/skill-laravel.svg")}
          alt="Laravel"
          width={35}
        />
      </li>
      <li class="level2">
        <CommonImage
          src={import("@/assets/images/main/skill-nest.svg")}
          alt="nest.js"
          width={35}
        />
      </li>
      <li class="level3">
        <CommonImage
          src={import("@/assets/images/main/skill-docker.svg")}
          alt="Docker"
          width={50}
        />
      </li>
    </ul>
    <p>
      実務での経験値はほとんどないです。
      最近はNode.jsを勉強しています。Laravelも少し経験あります。
      Nest.jsを勉強中です。
    </p>
  </div>
  <div class="slkill">
    <h3 class="title-L">Infrastructure</h3>
    <ul class="levels">
      <li class="level2">
        <CommonImage
          src={import("@/assets/images/main/skill-aws.svg")}
          alt="AWS"
          width={40}
        />
      </li>
      <li class="level2">
        <CommonImage
          src={import("@/assets/images/main/skill-firebase.svg")}
          alt="Firebase"
          width={25}
        />
      </li>
    </ul>
    <p>
      実務での経験値はほとんどないです。
      AWSを勉強中です。S3とCloudFrontを利用したHTTPSでの静的サイトのホスティングくらいならなんとかできます。AWS
      Certified Cloud Practitionerの資格は持っています。
    </p>
  </div>
</div>
<style lang="scss" scoped>
  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--spacing-XL);
    row-gap: var(--spacing-XL);

    @media screen and (max-width: $breakpoint-S) {
      display: block;
    }

    .slkill {
      background: rgba($color-background, 0.9);
      border-radius: var(--radius-L);
      padding: var(--spacing-XL);
      box-shadow: var(--shadow-02);

      @media screen and (max-width: $breakpoint-S) {
        margin-bottom: var(--spacing-XL);
      }

      h3 {
        font-size: var(--font-size-XL);
        margin-bottom: var(--spacing-L);
        text-align: center;
        color: var(--color-primary);
      }
      p {
        font-size: var(--font-size-M);
        line-height: 2;
      }
    }
  }
  .levels {
    display: flex;
    justify-content: center;
    margin-bottom: var(--spacing-L);
    @media screen and (max-width: $breakpoint-S) {
      flex-wrap: wrap;
    }
    li {
      width: 80px;
      height: 80px;
      border-radius: 100%;
      margin-right: var(--spacing-S);
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: $breakpoint-S) {
        margin: var(--spacing-S) !important;
      }
      &:last-child {
        margin-right: 0;
      }
      &.level1 {
        background-image: url("src/assets/images/main/level1.png");
      }
      &.level2 {
        background-image: url("src/assets/images/main/level2.png");
      }
      &.level3 {
        background-image: url("src/assets/images/main/level3.png");
      }
      &.level4 {
        background-image: url("src/assets/images/main/level4.png");
      }
      &.level5 {
        background-image: url("src/assets/images/main/level5.png");
      }
      &.level6 {
        background-image: url("src/assets/images/main/level6.png");
      }
      &.level7 {
        background-image: url("src/assets/images/main/level7.png");
      }
      &.level8 {
        background-image: url("ssrc/assets/images/main/level8.png");
      }
    }
  }
</style>
