---
interface Props {}

// const { src, alt, width, height, format } = Astro.props;

---

<div class="slider">
  <div>1</div>
  <div>2</div>
  <div>3</div>
</div>

<style lang="scss">
  .slider {
    position: relative;
    width: 100%;
    height: 580px;
    display: flex;
    > div {
      width: 580px;
      height: 580px;
      border-radius: $radius-L;
      box-shadow: $shadow-02;
    }
  }
</style>
