---
const allPosts = await Astro.glob("../../pages/blog/**/*.mdx");
const { tags } = Astro.props;

const posts = allPosts.filter((post) => {
  if (tags) {
    return tags.some((tag: string) => post.frontmatter.tags.includes(tag));
  }
  return !post.frontmatter.draft;
});
---

<div class="posts">
  <h2 class="title-L">関連記事</h2>
  <nav>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={post.url}>
              <div class="title-M">{post.frontmatter.title}</div>
              <p>{post.frontmatter.description}</p>
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</div>

<style lang="scss">
  .posts {
    margin-top: $spacing-XL;
    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: $spacing-XL;
      @media screen and (max-width: $breakpoint-S) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: $spacing-L;
      }
    }
    li {
      margin-bottom: $spacing-S;
      box-shadow: $shadow-01;
      padding: $spacing-M;
      border-radius: $radius-M;
      background-color: var(--color-background);
      p {
        font-size: $font-size-S;
      }
    }
  }
</style>
