---
interface Props {
  tags: string[];
  selectedTag?: string;
}

const { tags, selectedTag } = Astro.props;
---

<nav class="tags">
  <h2 class="title-M">Tags</h2>
  <ul>
    {
      tags.map((tag) => (
        <li class={tag === selectedTag ? "act" : ""}>
          <a href={`/blog/tag/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul>
</nav>

<style lang="scss">
  .tags {
    font-size: $font-size-S;
    position: sticky;
    top: $spacing-XXXL;
    box-shadow: $shadow-03;
    padding: $spacing-M;
    border-radius: $radius-M;
    margin-bottom: $spacing-XL;
    background-color: var(--color-background);
    li {
      margin-top: $spacing-M;
      &::before {
        content: "";
        display: inline-block;
        border-radius: 10px;
        width: 10px;
        height: 10px;
        border: 2px solid $color-primary-light;
        box-sizing: border-box;
        margin-right: 4px;
        background-color: $color-primary;
      }
      &.act {
        font-weight: 700;
      }
    }
  }
</style>
