---
import TwoColLayout from "../../layouts/TwoColLayout.astro";
---

<TwoColLayout
  title="ポートフォリオ"
  description="業務ではなく個人的な趣味で制作したものです。"
>
  <div slot="header" class="header">
    <h1 class="title-XXXL mb-M">Portfolio</h1>
    <p>業務ではなく個人的な趣味で制作したものです。</p>
  </div>
</TwoColLayout>

<style>
  .header {
    text-align: center;
  }
</style>
